absl-py==0.9.0
alabaster==0.7.12
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
aniso8601==8.0.0
AnyQt==0.0.10
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.2.1
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.1.0
audiorecorder==0.1
auto-py-to-exe==2.7.7
Babel==2.7.0
backcall==0.1.0
backports.csv==1.0.7
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
baycomp==1.0.2
beautifulsoup4==4.9.1
bitarray==0.9.3
bkcharts==0.2
bleach==3.1.0
blis==0.4.1
bokeh==1.2.0
boto==2.49.0
boto3==1.14.19
botocore==1.17.19
bottle==0.12.18
bottle-websocket==0.2.9
Bottleneck==1.2.1
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.1.1
canvas==0.2
catalogue==1.0.0
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
chart-studio==1.0.0
cheroot==8.3.0
CherryPy==18.6.0
Click==7.0
cloudpickle==1.3.0
clyent==1.2.2
colorama==0.4.1
colorlover==0.3.0
commonmark==0.9.1
comtypes==1.1.7
conda==4.8.4
conda-build==3.18.8
conda-package-handling==1.3.11
conda-verify==3.4.2
contextlib2==0.5.5
credentials==1.1
cryptography==2.7
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
cytoolz==0.10.0
dask==2.1.0
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.10
dictdiffer==0.8.1
dill==0.3.2
distributed==2.1.0
dlib==19.20.0
docopt==0.6.2
docutils==0.14
easydict==1.9
eel==0.12.4
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
fileupload==0.1.5
fire==0.3.1
Flask==1.1.1
Flask-Cors==3.0.9
Flask-HTTPAuth==3.3.0
Flask-JWT-Extended==3.24.1
Flask-Logging==0.1.3
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
future==0.17.1
gast==0.3.3
gensim==3.8.3
gevent==1.4.0
gevent-websocket==0.10.1
glob2==0.7
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14
greenlet==0.4.15
grpcio==1.30.0
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
gym==0.17.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
heapdict==1.0.0
heroku==0.1.4
hpack==3.0.0
hstspreload==2020.6.9
html5lib==1.0.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageai==2.1.5
imageio==2.5.0
imagesize==1.1.0
implicit==0.3.7
importlib-metadata==1.7.0
imutils==0.5.3
iplotter==0.4.3
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
iqoptionapi==6.8.9.1
isort==4.3.21
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
javascript==2015.32.59
jdcal==1.4.1
jedi==0.13.3
jieba3k==0.35.1
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.13.2
Js2Py==0.70
json5==0.8.4
jsonpickle==1.4.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.5.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.0.2
jupyterlab-server==1.0.0
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.0
keyrings.alt==3.4.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
llvmlite==0.29.0
lmdb==0.98
locket==0.2.0
lockfile==0.12.2
logger==1.4
lxml==4.3.4
Mako==1.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
marshmallow==3.5.1
matplotlib==3.2.0
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
more-itertools==7.0.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==0.6.1
msgpack-numpy==0.4.6.post0
mss==4.0.3
multipledispatch==0.6.0
mysql==0.0.2
mysql-connector-python==8.0.20
mysqlclient==1.4.6
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
newspaper3k==0.2.8
nlppreprocess==1.0.2
nltk==3.4.4
nose==1.3.7
notebook==6.0.0
numba==0.44.1
numexpr==2.6.9
numpy==1.16.2
numpydoc==0.9.1
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.1.1.26
openpyxl==2.6.2
openTSNE==0.4.3
ops.py==0.1.0a2
opt-einsum==3.2.1
orange-canvas-core==0.1.15
orange-widget-base==4.6.0
Orange3==3.26.0
packaging==19.0
pandas==1.1.1
pandocfilters==1.4.2
parsel==1.5.2
parso==0.5.0
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.4
patsy==0.5.1
Pattern==3.6
pdfminer.six==20200517
pefile==2019.4.18
pep8==1.7.1
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2018.11.26
pipwin==0.5.0
pkginfo==1.5.0.1
plac==1.1.3
playsound==1.2.2
plotly==4.8.1
pluggy==0.12.0
ply==3.11
pockets==0.9.1
portend==2.6
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.12.2
psutil==5.6.3
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
PyAutoGUI==0.9.39
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.7
pycurl==7.43.0.3
pydot==1.4.1
pyflakes==2.1.1
PyFlot==0.2
pygame==1.9.6
PyGetWindow==0.0.8
PyGithub==1.53
pyglet==1.5.0
Pygments==2.4.2
pygpu==0.7.6
PyInstaller==3.6
pyjsparser==2.7.1
PyJWT==1.7.1
pylint==2.3.1
PyMsgBox==1.0.6
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyperclip==1.8.0
pypiwin32==223
PyPrind==2.11.2
pyqtgraph==0.11.0
pyreadline==2.1
PyRect==0.1.4
pyrsistent==0.14.11
PyScreeze==0.1.18
pySmartDL==1.3.3
PySocks==1.7.0
PyStemmer==2.0.0.1
pytesseract==0.3.4
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
pytest-warnings==0.3.0
python-chess==0.24.1
python-chess-toc==0.1.1
python-dateutil==2.8.1
python-docx==0.8.10
python-Levenshtein==0.12.0
python-louvain==0.14
python-slugify==3.0.4
pyttk==0.3.2
pyttsx==1.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2019.2
PyWavelets==1.0.3
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
readme-renderer==24.0
recommonmark==0.6.0
recorder==0.0.2
requests==2.24.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
rinoh-typeface-dejavuserif==0.1.1
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.4.2
robotframework==3.2.1
robotframework-seleniumlibrary==4.4.0
rope==0.14.0
rsa==4.6
ruamel-yaml==0.15.46
s3transfer==0.3.3
scikit-image==0.15.0
scikit-learn==0.23.1
scikit-surprise==1.1.1
scipy==1.4.1
seaborn==0.9.0
selenium==3.8.1
Send2Trash==1.5.0
serverfiles==0.3.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
slidingwindow==0.0.14
smart-open==2.1.0
sniffio==1.1.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
SpeechRecognition==3.8.1
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-programoutput==0.16
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.13
srsly==1.0.2
statsmodels==0.10.0
stockfishpy==1.0.4
svgutils==0.3.1
sympy==1.4
tables==3.5.2
tabulate==0.8.7
tb-nightly==2.2.0a20200209
tblib==1.4.0
tempora==3.0.0
tensorboard==1.13.1
tensorboard-plugin-wit==1.7.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-estimator-2.0-preview==2.0.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorflow-hub==0.7.0
tensorflow-object-detection-api==0.1.1
tensorpack @ git+https://github.com/ppwwyyxx/tensorpack.git@9c1b1b7b200a66fe93afd00a47f3f198bb4e1393
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
textmining==1.0
tf-estimator-nightly==2.1.0.dev2020012309
tf-nightly==2.2.0.dev20200208
tflearn==0.3.2
Theano==1.0.4
threadpoolctl==2.1.0
tinysegmenter==0.3
tkfilebrowser==2.3.2
tkintertable==1.3.2
tldextract==2.2.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.48.0
traitlets==4.3.2
twine==3.1.1
typed-ast==1.4.1
tzlocal==2.1
unicodecsv==0.14.1
upgrade-requirements==1.7.0
urllib3==1.25.9
virtualenv==16.7.9
virtualenv-clone==0.5.4
w3lib==1.21.0
wasabi==0.7.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==1.0.0
whichcraft==0.6.1
widgetsnbextension==3.5.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.7.0
wrapt==1.12.1
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
zc.lockfile==2.0
zict==1.0.0
zipp==3.1.0
